<!DOCTYPE html>
<html>
<head>
  <title>Flask GET Request Example</title>
</head>
<body>
  <h1>Flask GET Request Example</h1>
  
  <button id="button1">Bus Ticket</button>
  <button id="button2">Metro Ticket</button>
  <button id="button3">Toilet Ticket</button>
  
  <script>
    // Add event listeners to the buttons
    document.getElementById("button1").addEventListener("click", busfare);
    document.getElementById("button2").addEventListener("click", metrofare);
    document.getElementById("button3").addEventListener("click", toiletfare);
    
    // Function to send a GET request
    function busfare() {
      fetch('/api/bus/{{card_id}}', {
        method: 'GET'
      })
      .then(response => response.json())
      .then(data => {
        console.log(data);  // Handle the response data from Flask
      })
      .catch(error => {
        console.log('Error:', error);
      });
    }
    function metrofare() {
        fetch('/api/metro/{{card_id}}', {
          method: 'GET'
        })
        .then(response => response.json())
        .then(data => {
          console.log(data);  // Handle the response data from Flask
        })
        .catch(error => {
          console.log('Error:', error);
        });
      }
      function toiletfare() {
        fetch('/api/toilet/{{card_id}}', {
          method: 'GET'
        })
        .then(response => response.json())
        .then(data => {
          console.log(data);  // Handle the response data from Flask
        })
        .catch(error => {
          console.log('Error:', error);
        });
      }
  </script>
</body>
</html>